include includes/header
body
// banner

.agileits-banner.about-w3banner
  .bnr-agileinfo
    .banner-top
      .container
        p
          span.glyphicon.glyphicon-earphone
          |  +11 999 8888 7777
    .banner-w3text
      h2 Attire
    // navigation
    include includes/nav
    
    // //navigation
// //banner
// about
.about.agileinfo
  .container
    h3.agileits-title About Us
    .col-md-6.about-w3left
      h4
        | Sed tincidunt 
        br
        |  velit fermentum eget
      p
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed velit fermentum lobortis, eget placerat mauris sed lectus tellus. Fusce eu semper lacus, sodales id elit a, feugiat porttitor nulla. Sed porta magna vitae nisl vulputate lacinia.
        | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed tincidunt lorem sed velit fermentum lobortis, eget placerat mauris sed lectus tellus. Fusce eu semper lacus, sodales id elit a feugiat porttitor nulla.
      a.button.button-isi(href='single.html')
        span Read More
        i.icon.glyphicon.glyphicon-arrow-right
    .col-md-6.about-w3right
      img(src='images/g4.jpg' alt='')
    .clearfix  