include includes/header
// banner
body
.agileits-banner
  .bnr-agileinfo
    .banner-top.w3layouts
      .container
        p
          span.glyphicon.glyphicon-earphone
          |  +11 999 8888 7777
    .banner-w3text.w3layouts
      h6 Welcome To
      h2 Attire
    // navigation
    include includes/nav
    
    // //navigation
// //banner
// welcome
.welcome.agileits
  .container
    .welcome-w3lsrow
      .col-md-5.col-sm-5.w3welcome-left
        .w3welcome-text
          h5.w3l-subtitle - New Trends
          p
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus at placerat ante. Praesent nulla nunc, pretium dapibus efficitur in, auctor eget elit. Lorem ipsum dolor sit amet
      .col-md-7.col-sm-7.w3welcome-img
      .clearfix  